<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="homepage.css" />
  </head>

  <body>
    <section class="header">
        <div class="header__container">
            <h1 class="header__title">Welcome to our platform: TEC-BookForum!</h1>
            <div class="header__buttons">
                <form method="GET" action="/my-quotes">
                    <button type="submit">My Quotes</button>
                  </form>
                  <form method="GET" action="/my-quotes/create">
                    <button type="submit">Add Quote</button>
                  </form>
                  <form method="GET" action="/about">
                    <button type="submit">Who are we?</button>
                  </form>
                  <form method="GET" action="/logout">
                    <button type="submit">Log out</button>
                  </form>
            </div>
          </div>
          <p class="lead">
            <strong
              >“You can get lost in any library, no matter the size. But the more
              lost you are, the more things you'll find... ”</strong
            >
            <em> - Millie Florence, Lydia Green of Mulberry Glen</em>
          </p>
    </section>
    <section class="about-page">
    <h1>📖 Who are we? 📖</h1>
    <p class="about">TEC-BookForum is a unique online platform where book lovers can share and collect their favorite quotes from literature. Unlike other book forums, TEC-BookForum is a private website where users can post their favorite quotes without the worry of comments or critiques from others. This allows for a more personalized and intimate experience, where users can reflect on the power of language and the impact of words on their own. With a diverse range of books and genres represented, as a TEC-BookForum team, we provide a virtual space for users to explore new literary works and discover new quotes to add to their collection. </p>
    <p class="join-invitation">Join us today and immerse yourself in the beauty of reading, as you discover your next favorite quote.</p>
    </section>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>