<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Login</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="/login" method="POST">

          <h2>Login</h2>

          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" required />
            <label for="">Email</label>
          </div>

          <div class="email error"></div>

          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" required />
            <label for="">Password</label>
          </div>

          <div class="password error"></div>

          <button type="submit">Login</button>

          <div class="register">
            <p>Don't have an account? <a href="/register">Register</a></p>
            <a href="/" class="login__back"> Back </a>
          </div>
        </form>
      </div>
    </div>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      // get values
      const email = form.email.value;
      const password = form.password.value;

      try {
        const res = await fetch('/login', {
          method: 'POST',
          body: JSON.stringify({ email, password }),
          headers: { 'Content-Type': 'application/json' }
        });

        const data = await res.json();

        console.log(data);

        if (data.errors) {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }

        if (data.user) {
          location.assign('/my-quotes');
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  </script>
</body>

</html>